


<div class="fluff"><nav-bar></nav-bar></div>

<!--HEADER-->
  <div id="parallax">
    <div class="ui center" id="header-pic">
      <div id="masthead-text">
       Heri Gutierrez<br>Front End Web Developer
      </div>
     <div id="arrow"><a href="#bottom"><img class="arrow" src="../assets/images/arrows.svg" alt="Down arrow"></a></div>
    </div>
  </div>


<!--<div class="ui center" id="header-pic">-->
      <!--<div id="masthead-text">-->
        <!--Heri Gutierrez<br>Front End Web Developer-->
  <!--</div>-->
  <!--<div id="arrow"><a href="#bottom"><img class="arrow" src="../assets/images/arrows.svg" alt="Down arrow"></a></div>-->
<!--</div>-->

<!--SITE CONTENT-->
<div id="bottom"></div>
<div class="ui horizontal divider divider-space">WHO I AM</div>
  <div class="ui stackable two column centered grid">
    <div class="column">
      <div class="ui center aligned" id="thinkTransition"><img src="../assets/images/programming.svg" class="svg-programming-img"></div>
      <div class="ui fitted clearing divider"></div>
        <div class="ui segment">
          <h4>My name is Heri and I am a passionate, motivated front-end developer
            who loves learning and keeping up with everything about the web.
            I've lived in lots of different places and have worked in lots of different jobs.
            I have a background in customer service and have worked as an education para-professional.
            I’m excited to bring my life experience to the process of building fantastic looking websites.</h4>
        </div>
    </div>
  </div>


<div class="ui horizontal divider divider-space">ABOUT ME</div>

<div class="ui stackable three column centered grid">
    <div class="column" id="left-col">
      <div class="ui right floated header"><img src="../assets/images/avatar.svg" class="svg-img"></div>
        <h1>Who I am</h1>
          <div class="ui fitted divider"></div>
            <p>My name is Heri and I am a passionate, motivated front-end developer who loves learning and keeping up with everything about the web.</p>
    </div>
  <div class="ui hidden divider"></div> <div class="ui hidden divider"></div> <div class="ui hidden divider"></div> <div class="ui hidden divider"></div>
    <div class="column">
      <div class="ui floated header"><img src="../assets/images/responsive.svg" class="svg-img"></div>
        <h1>What I do</h1>
          <div class="ui fitted divider"></div>
            <p>With the skills I have developed I am able to build and design Dynamic and Static websites, I make sure that the site is responsive on both mobile and desktop devices. I have experience with HTML5, CSS3, JavaScript, jQuery, & Angular 2.</p>
    </div>

  <div class="column" id="right-col">  <div class="ui hidden divider" id="hidden-div"></div>
      <div class="ui right floated header"><img src="../assets/images/coffee-cup.svg" class="svg-img"></div>
        <h1>More about me</h1>
          <div class="ui fitted divider"></div>
            <p>When I'm not busy honing my skills, I spend my time drinking coffee, longboarding & helping people who are interested in Web Development.</p>
    </div>
</div>

<div class="ui horizontal divider divider-space">CONTACT ME</div>
<div class="ui stackable three column centered grid">
  <div class="three column row">
    <div class="column">
      <a href="mailto:heriguti23@gmail.com"><img src="../assets/images/gmail.svg" class="svg-cntct-img"></a>
      <div class="ui hidden divider"><h5>EMAIL</h5></div>
    </div>
    <div class="column">
      <a href="https://www.instagram.com/yoslidemesomebacon/"><img src="../assets/images/instagram.svg" class="svg-cntct-img"></a>
      <div class="ui hidden divider"><h5>INSTAGRAM</h5></div>
    </div>
    <div class="column">
      <a href="tel:718-930-8635"><img src="../assets/images/smartphone.svg" class="svg-cntct-img"></a>
      <div class="ui hidden divider"><h5>PHONE</h5></div>
    </div>
  </div>
</div>

<div class="ui horizontal divider divider-space"></div>

<footer></footer>
